<table>
  <tr>
    <td align=right>numAllowed:</td>
    <td><input type="number" [(ngModel)]="throttle.count"></td>
  </tr>
  <tr>
    <td align=right>intervalLow:</td>
    <td><input type="number" [(ngModel)]="intervalLow"></td>
  </tr>
  <tr>
    <td align=right>intervalHigh:</td>
    <td><input type="number" [(ngModel)]="intervalHigh"></td>
  </tr>
  <tr>
    <td align=right>durationLow:</td>
    <td><input type="number" [(ngModel)]="durationLow"></td>
  </tr>
  <tr>
    <td align=right>durationHigh:</td>
    <td><input type="number" [(ngModel)]="durationHigh"></td>
  </tr>
  <tr>
    <td align=right></td>
    <td><input type="button" value="Flush" (click)="throttle.flush()"></td>
  </tr>
  <tr>
    <td align=right>numOpen:</td>
    <td>{{ numOpen }}</td>
  </tr>
  <tr>
    <td align=right>numQueued:</td>
    <td>{{ numQueued }}</td>
  </tr>
</table> 
 <br>